@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';
@import '/src/assets/styles/fontMixins';

.wrapperRelated {
	width: 100%;
	background-color: $dark-accent;
	padding: 24px 24px 48px 24px;
	margin-bottom: 48px;

	> h1 {
		margin-bottom: 24px;

		@include Headline1_400W46LHAccent;
	}

	> div {
		display: flex;
		gap: 24px;
	}
}

.wrapperRelated_Loader {
	width: 100%;
	background-color: $dark-accent;
	padding: 24px 24px 48px 24px;
	margin-bottom: 48px;

	> h1 {
		margin-bottom: 24px;
		width: max-content;

		@include text-loader(light);
		@include Headline1_400W46LHAccent;
	}

	> div {
		display: flex;
		gap: 24px;
	}
}

.wrapperOtherBooksByAuthor {
	width: 100%;
	background-color: $dark-accent;
	padding: 24px 24px 48px 24px;
	margin-bottom: 48px;

	> h1 {
		margin-bottom: 24px;

		@include Headline1_400W46LHAccent;
	}

	> div {
		display: flex;
		gap: 24px;

		> div:last-child {
			background-color: $accent;
			width: calc((100vw - 24px * 7) / 6);
			border-radius: $border-radius-large;
			display: flex;
			justify-content: center;
			align-items: center;

			@include transitionBoxShadow;

			> h1 {
				color: $dark-accent;
				transform: rotate(90deg);

				@include Headline1_400W46LHAccent;
			}
		}

		> div:last-child:hover,
		> div:last-child:focus {
			@include hover-focus;
		}
		> div:last-child:active {
			@include active;
		}
	}
}
