@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';
@import '/src/assets/styles/fontMixins';

.nav {
	display: flex;
	align-items: center;
	gap: 32px;

	> a {
		@include Headline3_400W24LHAccent;
		color: $white;
	}

	> a::after {
		@include link-underline-after;
	}

	> a:hover:after,
	> a:focus:after {
		@include link-underline-after-HoverAndFocus;
	}
}
