@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';

.nav {
	display: flex;
	align-items: center;
	gap: 32px;

	> a {
		font-size: 30px;
		font-weight: normal;
		font-family: $accent-font;
		text-decoration: none;
		color: $white;
	}

	> a::after {
		@include link-underline-after;
	}

	> a:hover:after,
	> a:focus:after {
		@include link-underline-after-HoverAndFocus;
	}
}
