@import '/src/assets/styles/variables';
@import '/src/assets/styles/animation';
@import '/src/assets/styles/mixins';
@import '/src/assets/styles/fontMixins';

.wrapper {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	> div {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 24px 160px;
		background-color: $dark-accent;
		border-radius: $border-radius-little;

		> button {
			z-index: 2;
		}
	}
}

.profileEdit {
	display: flex;

	> div:first-child {
		margin: 48px 0 48px 0;
		width: 27.8vw;
		height: 27.8vw;

		> img {
			border-radius: $border-radius-little;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	> div:last-child {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 48px 0 48px 72px;

		> form {
			display: flex;
			flex-direction: column;

			> div:not(:nth-child(4)) {
				z-index: 2;
			}
		}
	}
}

.profileImageLoader {
	margin: 48px 0 48px 0;
	width: 27.8vw;
	height: 27.8vw;
	border-radius: $border-radius-little;

	@include bg-loader(light);
}

.buttonWrapper {
	display: flex;
	flex-direction: row;

	> button,
	span {
		width: calc((100% - 24px) / 2);
	}

	> button:first-child {
		margin-right: 24px;
	}

	> span {
		@include pseudo-button-span;
	}

	> span:hover,
	span:focus {
		@include hover-focus;
	}
	> span:active {
		@include active;
	}

	> span[disabled] {
		@include bg-loader(light);
		pointer-events: none;
		color: rgba($black, 50%);
	}
}

.confirm {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $accent-opacity90;
	z-index: 100;
	animation: $showBlockAnimation;

	> div {
		text-align: center;
		background-color: $dark-accent;
		border-radius: $border-radius-large;
		width: 42vw;
		padding: 100px 150px;
		height: 42vw;

		> h1 {
			@include Headline2_600W50LHAccent;
			color: $white;
		}

		> div {
			margin-top: 170px;
			> span:first-child {
				margin-bottom: 48px;
				background-color: $danger;
			}
			> span {
				@include pseudo-button-span;
			}

			> span:hover,
			span:focus {
				@include hover-focus;
			}
			> span:active {
				@include active;
			}
		}
	}
}
