@import '/src/assets/styles/variables';
@import '/src/assets/styles/animation';
@import '/src/assets/styles/mixins';

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	> div {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 24px 160px;
		background-color: $dark-accent;
		border-radius: $border-radius-little;

		> button {
			z-index: 2;
		}
	}
}

.profileEdit {
	display: flex;

	> div:first-child {
		margin: 48px 0 48px 0;
		width: 400px;
		height: 400px;

		> img {
			border-radius: $border-radius-little;
			width: 400px;
			height: 400px;
			object-fit: cover;
		}
	}

	> div:last-child {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 48px 0 48px 72px;

		> form {
			display: flex;
			flex-direction: column;

			> div:not(:nth-child(4)) {
				z-index: 2;
			}
		}
	}
}

.buttonWrapper {
	display: flex;
	flex-direction: row;

	> button,
	span {
		width: calc((100% - 24px) / 2);
	}

	> button:first-child {
		margin-right: 24px;
	}

	> span {
		@include pseudo-button-span;
	}

	> span:hover,
	span:focus {
		@include hover-focus;
	}
	> span:active {
		@include active;
	}
}

.dropZoneActive {
	background-color: rgba($accent, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $text-black-opacity87;
	font-size: 60px;
	font-weight: normal;
	font-family: $default-font;
	animation: $showBlockAnimation;
}

.dropZonePassive {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

.confirm {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba($accent, 0.9);
	z-index: 100;
	animation: $showBlockAnimation;

	> div {
		text-align: center;
		background-color: $dark-accent;
		border-radius: $border-radius-large;
		width: 600px;
		padding: 100px 150px;
		height: 598px;

		> h1 {
			font-size: 40px;
			font-weight: bold;
			color: $bg-color;
		}

		> div {
			margin-top: 170px;
			> span:first-child {
				margin-bottom: 48px;
				background-color: $error-color;
			}
			> span {
				@include pseudo-button-span;
			}

			> span:hover,
			span:focus {
				@include hover-focus;
			}
			> span:active {
				@include active;
			}
		}
	}
}
