@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';
@import '/src/assets/styles/fontMixins';

.logo {
	display: flex;
	align-items: center;
	gap: 24px;

	@include Logo_600W50LHAccent;

	> span::after {
		@include link-underline-after;
	}
}

.logo:hover,
.logo:focus {
	> span::after {
		@include link-underline-after-HoverAndFocus;
	}
}
