@import '/src/assets/styles/animation';
@import 'src/assets/styles/variables';
@import 'src/assets/styles/fontMixins';

.alert {
	position: absolute;
	top: 0;
	right: 0;
	width: max-content;
	@include Headline5_400W24LH;
	background-color: #5be7c4;
	color: $black;
	margin: 20px;
	border-radius: $border-radius-little;
	padding: 8px 16px;
	animation: showAlert 4s;
	z-index: 1000;

	&.error {
		background-color: $danger;
		color: $white;
	}

	&.info {
		background-color: #50c1e9;
	}

	&.warning {
		background-color: #f75940;
		color: $white;
	}
}
