@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';
@import '/src/assets/styles/fontMixins';

.inputWrapper {
	margin-bottom: 24px;
}

.error {
	color: $danger;

	@include Headline6_400W20LH;
}

.field {
	height: 54px;
	background-color: $white;
	width: calc(100vw / 3);
	border-radius: $border-radius-little;
	padding: 15px 24px;
	color: $black;

	@include Headline3_300W24LHAccent;
	@include transitionBoxShadow;
}

.field::placeholder {
	color: $dark-icons;

	@include Headline3_300W24LHAccent;
}

.field:hover,
.field:focus {
	@include hover-focus;
}

.field:disabled {
	color: transparent;
	pointer-events: none;

	@include bg-loader(light);
}
.field:disabled::placeholder {
	color: transparent;
}
