@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';
@import '/src/assets/styles/fontMixins';

.fillButton {
	width: max-content;
	padding: 13px 15px;
	background-color: $accent;
	color: $black;
	border-radius: 16px;

	@include Headline3_400W24LHAccent;
	@include transitionBoxShadow;
}

.fillButton:hover,
.fillButton:focus {
	@include hover-focus;
}
.fillButton:active {
	@include active;
}
.fillButton:disabled {
	@include bg-loader(light);

	pointer-events: none;
	color: rgba($black, 50%);
}

.borderButton {
	width: max-content;
	padding: 13px 15px;
	border: 2px solid $accent;
	color: $accent;
	border-radius: 16px;
	transition-property: text-shadow, box-shadow;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;

	@include Headline3_300W24LHAccent;
}

.borderButton:hover,
.borderButton:focus {
	text-shadow: 5px 5px $black;
	@include hover-focus;
}
.borderButton:active {
	text-shadow: 0px 0px $black;
	@include active;
}
.borderButton:disabled {
	@include bg-loader(light);

	pointer-events: none;
	border-color: rgba($accent, 50%);
	color: rgba($accent, 50%);
}

.arrowButton {
	width: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	padding: 13px 15px;
	background-color: $accent;
	color: $black;
	border-radius: 16px;

	@include Headline3_400W24LHAccent;
	@include transitionBoxShadow;
}

.arrowButton:hover,
.arrowButton:focus {
	@include hover-focus;
}
.arrowButton:active {
	@include active;
}
.arrowButton:disabled {
	@include bg-loader(light);

	pointer-events: none;
	color: rgba($black, 50%);

	> img {
		opacity: 50%;
	}
}
