@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';
@import './readLaterAnimation';

.wrapper_readLaterPage {
	background-color: $dark-accent;
	margin: 48px 12px;
	border-radius: $border-radius-large;
	padding: 24px;

	> div {
		margin-bottom: 24px;
		display: flex;
		justify-content: flex-end;
	}
}

.readLaterPage {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

.buttonReverse {
	width: max-content;
	> img {
		margin-left: 12px;
		transition: transform ease-in-out 1s;
	}

	@include pseudo-button-span;
}

.buttonReverse:hover,
.buttonReverse:focus {
	@include hover-focus;
}
.buttonReverse:active {
	@include active;
}

.wrapper_readLaterProfile {
	padding: 0;
	margin: 0;
}

.readLaterProfile {
	color: $black;
	margin-right: 48px;
	margin-top: 48px;
	display: grid;
	gap: 20px;

	@for $i from 1 through length($showReadLaterArray) {
		> li:nth-child(#{$i}) {
			grid-row-start: $i;
			grid-column-start: 1;
			animation: nth($showReadLaterArray, $i);
		}
	}
}
