@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';
@import './readLaterAnimation';

.wrapper {
	color: $text-black-opacity87;
	margin-right: 48px;
	margin-top: 32px;
	display: grid;
	gap: 18px;

	@for $i from 1 through length($showReadLaterArray) {
		> li:nth-child(#{$i}) {
			grid-row-start: $i;
			grid-column-start: 1;
			animation: nth($showReadLaterArray, $i);
		}
	}

	> li {
		width: 100%;
		background-color: $bg-color;
		border-radius: $border-radius-little;
		display: flex;
		justify-content: space-between;
		padding: 7px 24px;
		align-items: center;

		> div {
			display: flex;
			gap: 24px;

			> span:first-child {
				font-size: 24px;
				font-weight: 600;
			}

			> span {
				font-size: 24px;
				font-weight: normal;
			}
		}

		> .readLaterButton {
			background-color: $dark-accent;
			width: 40px;
			height: 40px;
			border-radius: $circle-radius;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			transition: transform ease-in-out 0.3s;

			> img {
				background-repeat: no-repeat;
			}
		}

		.readLaterButton:hover,
		.readLaterButton:focus {
			transform: scale(1.05);
		}

		.readLaterButton:active {
			transform: scale(1);
		}
	}
}
