@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,300;12..96,400;12..96,500;12..96,600&family=Montserrat:wght@300;400;500;600&display=swap');

$accent: #cdb4db;
$dark-accent: #2a2c2e;
$white: #f6f4f0;
$white-opacity50: rgba(#f6f4f0, 0.5);
$danger: #ff2e63;
$black: #000000de;
$dark-icons: #00000033;
$accent-opacity90: rgba($accent, 0.9);
$accent-opacity50: rgba($accent, 0.5);

$border-radius-large: 20px;
$border-radius-little: 16px;
$circle-radius: 1000px;

$accent-font: 'Bricolage Grotesque', sans-serif;
$default-font: 'Montserrat', sans-serif;

$logo40px: 40px;
$headline1: 50px;
$headline2: 40px;
$headline3: 30px;
$headline4: 24px;
$headline5: 20px;
$headline6: 16px;
$body1: 40px;
$body3: 24px;
$body3: 20px;
$subtitle: 16px;
