@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400;10..48,600;10..48,700&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

$accent: #cdb4db;
$dark-accent: #2a2c2e;
$white: #ffffff;
$black: #000000;
$bg-color: #f6f4f0;
$error-color: #ff2e63;

$text-black-opacity87: #000000de;
$icon-black-opacity20: #00000033;

$border-radius-large: 20px;
$border-radius-little: 16px;
$circle-radius: 1000px;

$accent-font: 'Bricolage Grotesque', sans-serif;
$default-font: 'Montserrat', sans-serif;

$mobile: 480px;
