@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';
@import '/src/assets/styles/fontMixins';
@import '/src/assets/styles/animation';

.inputWrapper {
	margin-bottom: 24px;
}

.error {
	position: relative;
	color: $danger;
	z-index: $z-index-level-1;

	@include Headline6_400W20LH;
}

.fileField {
	> input {
		opacity: 0;
		width: 0.1px;
		height: 0.1px;
		position: absolute;
	}

	> label {
		position: relative;
		height: 54px;
		background-color: $white;
		width: calc(100vw / 3);
		border-radius: $border-radius-little;
		padding: 15px 24px;
		display: block;
		position: relative;
		width: calc(100vw / 3);
		cursor: pointer;
		z-index: $z-index-level-0;

		@include transitionBoxShadow;
		@include Headline3_300W24LHAccent;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	label:hover,
	input:focus + label {
		@include hover-focus;
	}
}

.fileFieldLoader {
	> input {
		opacity: 0;
		width: 0.1px;
		height: 0.1px;
		position: absolute;
	}

	> label {
		position: relative;
		height: 54px;
		background-color: $white;
		width: calc(100vw / 3);
		border-radius: $border-radius-little;
		padding: 15px 24px;
		display: block;
		position: relative;
		width: calc(100vw / 3);
		cursor: pointer;
		z-index: $z-index-level-0;

		@include transitionBoxShadow;
		@include Headline3_300W24LHAccent;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		@include bg-loader(light);
	}
}

.fileName {
	color: $white;

	@include Headline6_400W20LH;
}

.dropZoneActive {
	background-color: $accent-opacity50;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: $z-index-level-3;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $black;
	animation: $showBlockAnimation;

	@include Headline1_400W46LHAccent;
}

.dropZonePassive {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: $z-index-level-1;
}
