@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';
@import '/src/assets/styles/fontMixins';

.wrapper {
	position: relative;
	overflow: hidden;
	padding: 48px;
	margin: 48px 12px;
	background-color: $dark-accent;
	border-radius: $border-radius-large;

	> div {
		position: relative;
		z-index: $z-index-level-1;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;

		> h1 {
			@include Headline1_400W46LHAccent;
		}
		> article {
			display: flex;
			flex-direction: column;
			justify-content: center;

			> span {
				margin-bottom: 24px;

				@include Headline1_400W46LHAccent;
			}
			> p {
				margin-bottom: 48px;

				@include Headline4_400W24LHAccent;
			}
			div {
				display: flex;
				justify-content: flex-end;

				> a {
					display: flex;
					justify-content: center;
					align-items: center;
					width: max-content;
					background-color: $accent;
					color: $black;
					gap: 12px;
					padding: 13px 15px;

					@include pseudo-button-span;
					@include Headline3_400W24LHAccent;
				}

				a:hover,
				a:focus {
					@include hover-focus;
				}

				a:active {
					@include active;
				}
			}
		}
	}

	> figure {
		position: absolute;
		z-index: $z-index-level-0;
		left: 0;
		bottom: 0;
		transform: translateX(-10vw) translateY(10vw);
	}
}
