@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';
@import '/src/assets/styles/fontMixins';

@mixin articleStyles {
	margin: 0 12px;
	padding: 24px;
	border-radius: $border-radius-large;
	background-color: $dark-accent;
}

.textFrame {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	> div {
		margin-bottom: 48px;

		> article {
			@include articleStyles;

			> p {
				@include Body2_400W32LH48TI12PS;
			}
			> span {
				@include Headline2_400W48LHAccent;
			}
		}
	}
}

.header {
	position: sticky;
	background: repeating-linear-gradient(
		0deg,
		$dark-accent,
		$dark-accent 20%,
		$white 20%,
		$white 100%
	);
	overflow: hidden;
	padding-top: 20px;
	margin: 0 12px 48px 12px;
	border-radius: 0 0 $border-radius-large $border-radius-large;
	top: 0;
	left: 0;

	div {
		position: relative;
		color: $white;
		background-color: $dark-accent;
		border-radius: $border-radius-large;
		overflow: hidden;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		> span {
			margin: 12px 24px;

			@include Headline2_400W48LHAccent;
		}

		> div {
			position: absolute;
			bottom: 0;
			height: 5px;
			background-color: $accent;
			transition: width ease-in-out 1s;
		}
	}
}

.title {
	margin: 12px 24px;
	width: max-content;
	color: $white;

	@include Headline2_500W50LHAccent;

	img {
		margin-left: 12px;
		transform: translateX(-20px);
		opacity: 0;
		transition:
			transform 0.3s ease-in-out,
			opacity 0.3s ease-in-out;
	}
}

.title::after {
	@include link-underline-after;
	background-color: $white;
}

.title:hover {
	cursor: pointer;
}
.title:hover,
.title:focus {
	img {
		transform: translateX(0);
		opacity: 1;
	}
}
.title:hover::after,
.title:focus::after {
	@include link-underline-after-HoverAndFocus;
}
.title:active {
	img {
		transform: translateX(10px);
	}
}

.textFrameLoader {
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-rows: 1fr;

	> div {
		display: grid;
		grid-template-rows: max-content 1fr;
		margin-bottom: 48px;

		> header {
			margin: 20px 12px 48px 12px;
			border-radius: $border-radius-large;
			background-color: $dark-accent;
			padding: 12px 24px;

			> h2 {
				width: 100%;
				color: $white;

				@include Headline2_500W50LHAccent;
				@include text-loader(light);
			}
		}
		> article {
			@include articleStyles;

			> span {
				display: flex;
				width: 100%;
				height: 100%;

				@include Headline2_400W48LHAccent;
				@include text-loader(light);
			}
		}
	}
}
