@import '/src/assets/styles/variables';

@-webkit-keyframes animate-svg-stroke-1 {
	0% {
		stroke-dashoffset: 0;
		stroke-dasharray: 370.8515625px;
	}

	30% {
		stroke-dashoffset: 370.8515625px;
		stroke-dasharray: 370.8515625px;
	}

	70% {
		stroke-dashoffset: 370.8515625px;
		stroke-dasharray: 370.8515625px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 370.8515625px;
	}
}

@keyframes animate-svg-stroke-1 {
	0% {
		stroke-dashoffset: 0;
		stroke-dasharray: 370.8515625px;
	}

	30% {
		stroke-dashoffset: 370.8515625px;
		stroke-dasharray: 370.8515625px;
	}

	70% {
		stroke-dashoffset: 370.8515625px;
		stroke-dasharray: 370.8515625px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 370.8515625px;
	}
}

.svgLogoAnimation {
	-webkit-animation: animate-svg-stroke-1 3s cubic-bezier(0.47, 0, 0.745, 0.715)
		0s both;
	animation: animate-svg-stroke-1 3s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
	animation-iteration-count: infinite;
}

.accent {
	stroke: $accent;
}

.dark {
	stroke: $dark-accent;
}

.light {
	stroke: $white;
}

.blockAnimation {
	width: 100%;
	height: 100%;
	background-color: $accent;
}
