@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';

.wrapper {
	background-color: $dark-accent;
	padding-top: 15px;

	> button {
		margin: 0 24px 15px 24px;
	}

	> div {
		background-color: $icon-black-opacity20;
		display: flex;
		justify-content: space-between;

		> a {
			font-size: 20px;
			font-family: $accent-font;
			font-weight: normal;
			text-decoration: none;
			color: $white;
			margin: 8px 24px;
		}

		> a::after {
			@include link-underline-after;
		}

		> a:hover:after,
		> a:focus:after {
			@include link-underline-after-HoverAndFocus;
		}
	}
}
