@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';
@import '/src/assets/styles/fontMixins';

.wrapper {
	background-color: $dark-accent;
	padding-top: 15px;

	> button {
		margin: 0 24px 15px 24px;
	}

	> div {
		background-color: $dark-icons;
		display: flex;
		justify-content: space-between;

		> a {
			@include Headline5_400W24LH;
			color: $white;
			margin: 8px 24px;
		}

		> a::after {
			@include link-underline-after;
		}

		> a:hover:after,
		> a:focus:after {
			@include link-underline-after-HoverAndFocus;
		}
	}
}
