@import '/src/assets/styles/variables';
@import '/src/assets/styles/fontMixins';
@import '/src/assets/styles/mixins';

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 12px;

	> h2 {
		@include Headline2_400W48LHAccent;
	}
}

.wrapperCategories {
	position: relative;
	display: inline-block;
}

.search {
	width: 100%;

	> input {
		border: none;
		width: 100%;
		padding: 15px 24px;
		border-radius: $border-radius-little;
		background-color: $dark-accent;
		color: $white;

		@include Headline3_300W24LHAccent;
		@include transitionBoxShadow;
	}

	::placeholder {
		color: $white-opacity50;

		@include Headline3_300W24LHAccent;
	}

	> input:hover {
		box-shadow: 5px 5px $accent;
	}

	> input:focus {
		@include active;
	}
}

.categories {
	z-index: $z-index-over;
	position: absolute;
	margin-top: 12px;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.category {
	display: none;
}

.categoryView {
	display: block;
	padding: 6px 10px;
	background-color: $dark-accent;
	color: $white;
	border-radius: $border-radius-little;
	border: 0;
	transition: transform ease-in-out 0.3s;

	@include Headline4_400W24LHAccent;
	@include input-checkbox(light);
}

.category:hover,
.category:focus {
	transform: translateX(12px);
}

.valueChecked {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
	width: 100%;

	> button {
		display: flex;
		align-items: center;
		border-radius: $circle-radius;
		width: max-content;
		background-color: $dark-accent;
		padding: 6px 10px;
		gap: 12px;
		color: $white;

		@include Headline4_400W24LHAccent;

		> svg {
			transition: transform ease-in-out 0.3s;
		}
	}

	> button:hover,
	> button:focus {
		> svg {
			transform: rotate(90deg);
		}
	}
	> button:active {
		> svg {
			transform: rotate(0deg);
		}
	}
}

.valueChecked:has(button) {
	margin-top: 12px;
}
